<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Actualizar Perfil</h3>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" required placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control"  required placeholder="Email de Usuario">
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Actualizar Foto</h3>
        <hr>
        <div class="card-body text-center">
           <img *ngIf="!imageTemp" [src]="usuario.img | imagen" class="img-circle" width="150">   
           <img *ngIf="imageTemp" [src]="imageTemp" class="img-circle" width="150">    
           <input type="file" class="mt-3" name="imagen" (change)="uploadImage($event)">          
           <button type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10 mt-4" (click)="updateImage()">Actualizar Foto</button>
        </div>
    </div>
</div>
</div>