<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
      <div class="login-box card">
          <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform" action="index.html">
                  <h3 class="box-title m-b-20">Registrarme</h3>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="text" formControlName="nombre" required placeholder="Nombre">
                          <div class="text-danger" *ngIf="form.get('nombre').errors?.required && form.get('nombre').touched">
                            El nombre es obligatorio 
                        </div>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="email" formControlName="email" required placeholder="Email">
                          <div class="text-danger" *ngIf="(validateError('email', 'required') || validateError('email', 'email'))  && form.get('email').touched">
                            Debe ingresar un email valido
                        </div>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" formControlName="password" required placeholder="Contraseña">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <input class="form-control" type="password" formControlName="confirmarPassword" required placeholder="Confirmar contraseña">
                          <div class="text-danger" *ngIf="form.errors?.diferentes && form.get('confirmarPassword').dirty">
                              Las claves no coinciden 
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-success p-t-0">
                              <input formControlName="condiciones" id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
                              <label for="checkbox-signup"> Acepto <a href="javascript:void(0)">Terminos y Condiciones</a></label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group text-center p-b-20">
                      <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase" type="submit" [disabled]="form.invalid">Registrarme</button>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          ¿Ya tienes una cuenta? <a routerLink="/" class="text-info m-l-5"><b>Ingresa aquí</b></a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
